// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
//@import 'prism/themes/prism-default.css'
// Check out "bower_components/prism/themes/" for available themes

// Just playing with styl
.red {
  color: red;
}
