// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
//@import 'prism/themes/prism-okaidia.css'
@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

// Just playing with styl
.red {
  color: red;
}

section.act {
  background: url(/images/curtain.png);
}

.elk {
  background-image: url(/images/elk.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

.asf {
  background-image: url(/images/asf.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.lucene {
  background-image: url(/images/lucene.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.cluster {
  background-image: url(/images/cluster.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.merlin {
  background-image: url(/images/merlin.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.apple {
  background-image: url(/images/badapple.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

h2.sphinx {
  background-image: url(/images/sphinx.png);
  background-repeat: no-repeat;
  background-position: 135px;
}

.bespoke-slide.content {
  justify-content: initial;
  align-items: initial;
  // align-items: baseline;
  text-align: left;
  padding: 20px 40px 40px 0;

  p, ul {
    padding: 0 0 0 40px;
    margin: 0;
  }

  pre {
    font-size: 0.7em;
    margin-left: 10px;
    padding: 10px!important;
  }

  h2 {
    background-color: #bababa;
    color: #3a3a3a;
    height: 70px;
    padding-left: 5px;
  }

  ol, ul {
    padding: 40px 0 0 40px;
  }
}

.bespoke-slide.chapter {
  h1 {
    background: #bababa;
    color: #3a3a3a;
    padding: 20px;
  }
}

