doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Drupal and ElasticSearch

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Drupal and ElasticSearch
        h4 @tizzo y @nstielau

      section
        // TODO: Side by side
        div
          h4 Nick
        div
          h4 Howard


      section
        h1 Act I: The Prologue
        // What do we want to for 'Act X' images? curtains

      section
        // HT
        h1 What is Elasticsearch?
      section
        h2 Modern
      section
        h2 Near Realtime
      section
        h2 Based on Lucene
        p (like all good open source search)
      section
        h2 Clusterable
      section
        h2 What is Elasticsearch?

      section
        // TODO: We should break this up into subslides for this section.
        h2 ES vs. Solr
        ul
          li Uses lucene
          li Elastic as in clusterable
          li How does it compare Solr? (NS as Solr vs. HT as ES, i.e. mac vs. pc)
          li Both JVM
          li Both use Lucene search engine
          li Both Apache 2 Licensed
          li Both supported by commercial orgs
          li Both support HTTP indexes
          li Competition makes stuff better!

      section
        // Nick
        ES vs. MySQL? or Sphinx?

      section
        h2 Integrations
        ul
          li Solr has great Drupal Integration
          li ES has great ELK/Kibana Integrations

      section
        h1 Stop!
        h2 DemoTime

      section
        // HT
        h2 Starting instances (demo video)
        // TODO: Add video
      section
        // HT
        h2  Clustering

      section
        h1 Act II:  The Nitty and The Gritty

      section
        h2 MVP use case with curl  (NS)
        pre
          code.language-javascript.
            curl 127.0.0.1
        Create an index (curl)
        pre
          code.language-javascript.
            curl 127.0.0.1
        store 2 docs
        pre
          code.language-javascript.
            curl 127.0.0.1
        query for 1

      section
        Web UI? or just Loading JSON in browser
        aka “If I can’t see it in a browser it didn’t happen, this is DrupalCon”

      section
        // HT
        h1 Advanced Features

      section
        h1 Percolate
        img(src="images/percolate-yo-dawg.jpg")

      section
        h1 Create a
        pre
          code.language-bash.
            curl -XPUT 'localhost:9200/my-index/.percolator/1' -d '{
              "query" : {
                "match" : {
                  "message" : "bonsai tree"
                }
              }
            }'


      section
        h1 Act III: ElasticSearch use-cases

      section
        h1 Drupal Modules

      section
        h1 Search API Elasticsearch

      section Worpress (NS)
        h2 TODO: Nick to sync up with Alley Interactive

      section
        h1 Ops

      section
        h1 ELK Intro, value prop (NS)
        ul
          lu What are rich logs?
          li Logstash

      section
        h2 How do I get me data into ELK (HT)?
        ul
          li Logstash
          li WatchDog (Amitai: Log http module)
          li System (syslog)
          li error log
          li Access-Logs
          li Parsing in Logstash (enrichifying™)

      section
        h1 Use-cases (NS)
        ul
          li Security
          li Exceptions
          li JS/Browser stuff
          li Example (NS)
          li Diagnose outage
          li Kibana (Nick)
          li Some Pantheon Screenshots, video of drilling down
          li brute-force password guessing

      section
        h1 Kibana, ELK Demo Video (HT)

      section
        h1 How do I get started?
        ul
          li DIY (HT)
          li MVP Config Managment (Chef, Puppet)
          li Consul for Service Discovery
          li To the future!

      section
        h1 Hosted ElasticSearch

      section
        h3 How to sneak in ES (NS)
        ul
          li Use for ops
          li show is awesome

      section
        h1 References
        ul
          li ES Docs
          li Blog posts, etc
          li Our Docker stuff

      section
        h1 Image Credits

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
